@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');

body {
    width: 100%;
    height: 100%;
    font-family: 'Ek Mukta', sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #fff;
	font-size: 16px;
    line-height: 1.6em;
	font-weight: 400;
}

p {
	font-size:16px;

}

.btn-primary {
  padding: 8px 20px;
  background: #fff;
  color: #000;
  border-radius: 0;
  border:none;
  margin-top: 10px;
}

.btn-primary:hover, 
.btn-primary:focus{
  background: #fff;
  color:#2487cd;
  outline: none;
  box-shadow: none;
} 


/* --- logo --- */
.logo {	
	margin-top:40px;
	margin-bottom:40px;
    float: left;
}

.site-logo a.brand {
	color: #2487cd;	
	font-size: 90px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	
}
.site-logo a.brand:hover {
	text-decoration:none;
}

/* ------- Navigation ------------ */

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
	padding:30px;
}

.navbar-fixed-top ul.nav li a{
	font-size: 14px;
	letter-spacing: 3px;
    color: #000;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-fixed-top.top-nav-collapse ul.nav li a {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #fff;
}

.navbar-fixed-top ul.nav ul.dropdown-menu {
	  border-radius: 0;	
	margin-top: 21px;
	border-top: none;
}

.navbar-fixed-top ul.nav li a:hover ul.dropdown-menu {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navbar-fixed-top ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-fixed-top ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
}

.navbar-fixed-top.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

.navbar-fixed-top .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-fixed-top .nav li a:hover,
.navbar-fixed-top .nav li a:focus,
.navbar-fixed-top.nav li.active {
    outline: 0;
  
	color:#2487cd ;
}

.navbar-toggle {
    padding: 4px 12px;
    font-size: 18px;
    color: #000;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}



/* Dropdown */

.dropdown-menu{
	border: 0;
	border-radius: 0px;
	width: 100%;
	
box-shadow: none;
	
background: none;
	
min-width: 180px;

}



.dropdown-menu > ul{

	list-style: none;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: -5px;

	background: #fff;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0 2px .09px rgba(0,0,0,0.15);
}



.dropdown-menu > ul > li > a{
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;

	padding: 15px;
	color: #333;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.dropdown-menu > ul > li.active > a{
	
}

.dropdown-menu > ul > li:last-child > a{
	border-bottom: 0;
}


.dropdown-menu > ul > li>a:hover, 


.dropdown-menu > ul > li>a:focus{
	
background: none;
}



.nav>li.megamenu{ 
	position: static;
}



.nav>li.megamenu .dropdown-menu {
	
left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding:30px;
	z-index: 1000;
	border-radius: 0;
	top: auto;
}



.nav>li.megamenu .dropdown-menu ul{

	margin-top: 4px;
	
	padding: 20px;
}

.slider {
	padding-top:50px;
}

.slider img {
    width: 100%; 
}

#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -25px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
  border: 1px solid #2487cd;;
  border-radius:50%;
  font-size: 30px;
  height: 50px;
  padding: 8px;
  position: absolute;
  top: 50%;
  width: 50px;
  color:#fff;
   background:#2487cd;
}

#carousel-slider a i:hover {
  background:#2487cd;
  color:#fff;
  border: 1px solid #2487cd;
}

#carousel-slider 
.carousel-control {
  width:inherit;
}

#carousel-slider .carousel-control.left i {
  left:70px
}

#carousel-slider .carousel-control.right i {
  right: 70px;
}

#carousel-slider
.carousel-control.left, 
#carousel-slider
.carousel-control.right {
  background: none;
}



#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2487cd;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #fff;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align:center;
}

#footer ul > li {
	margin-top:20px;
	margin-bottom:30px;
  display: inline-block;
  margin-left: 15px;
  text-align:center;
}
.midnight-blue {
	text-align:center;

}

.text-center {
	margin-bottom:20px;
	font-size:30px;

}